h1
{
background-color:darkblue: red; font-style: blockquote;   
}
h3
{
background-color: yellow;color: green;font-style: italic;
}
body{
    height: 100vh;

    display: flex;
  
    /* align-items: center; */
  
    justify-content: center;   
  
}
#container{
background-color:green;
height: 60%;
display: flex;
flex-direction: column;
width: 70%;
margin-top: 3%;
align-items: center;
}
}